@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans Narrow";
  src: url("../fonts/ptsansnarrow-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --basic-black: #000;
  --basic-extra-dark: #242424;
  --basic-dark: #595959;
  --basic-neutral: #bdbdbd;
  --basic-light: #e7e7e7;
  --basic-extra-light: #f6f6f6;
  --basic-white: #fff;
  --special-extra-dark: #4e2e0e;
  --special-dark: #814b18;
  --special-neutral: #af7842;
  --special-light: #dbb590;
  --special-extra-light: #fbf7f4;
  --status-error: #ea5454;
  --status-warning: #fd912e;
  --status-success: #00e484;
  --pattern-light: #fbf7f4;
  --pattern-dark: #242424;

  --font-family: "PT Sans", sans-serif;
  --second-family: "PT Sans Narrow", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  color: var(--basic-white);
  background-color: var(--basic-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.heading-1,
.heading-2,
.heading-3 {
  font-family: var(--second-family);
  font-weight: 700;
  text-transform: uppercase;
  color: inherit;
}

.heading-1 {
  font-size: 32px;
  line-height: 1.1em;
}

.heading-2 {
  font-size: 24px;
  line-height: 1.2em;
}

.heading-3 {
  font-size: 20px;
  line-height: 1.4em;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.text-sub {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
}

.text-bold {
  font-weight: 700;
}

.link {
  color: var(--basic-extra-dark);

  &:hover,
  &:active,
  &:focus {
    color: var(--special-neutral);
  }

  &:active {
    color: var(--special-light);
  }
}

.button-menu {
  display: inline-block;
  padding: 24px 20px;
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-black);
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--basic-dark);
  }

  &:focus {
    box-shadow: inset 0 0 0 4px var(--basic-light);
    outline: none;
  }
}

.button {
  display: inline-block;
  padding: 14px 20px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-black);
  border: none;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--special-dark);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--special-light);
    outline: none;
  }

  &:disabled,
  &:disabled:hover {
    background-color: var(--basic-dark);
    pointer-events: none;
  }
}

.button-secondary {
  color: var(--basic-extra-dark);
  background-color: var(--basic-white);

  &:hover,
  &:active {
    background-color: var(--special-light);
  }

  &:focus {
    box-shadow: inset 0 0 0 2px var(--special-neutral);
    outline: none;
  }
}

.input {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--basic-extra-dark);
  border: 2px solid var(--basic-extra-dark);
  background-color: var(--basic-white);
  transition: border-color 0.2s;

  &:placeholder-shown {
    color: var(--basic-neutral);
  }

  &:hover,
  &:active {
    border-color: var(--special-neutral);
  }

  &:focus {
    border-color: var(--special-neutral);
    outline: 2px solid var(--special-light);
  }

  &:disabled,
  &:disabled:hover {
    color: var(--basic-dark);
    border-color: var(--special-light);
    pointer-events: none;
  }
}

.label {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--basic-extra-dark);
}

.list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.section {
  padding: 40px;
}

.section-subtitle {
  color: var(--special-neutral);
}

.section-desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: var(--basic-dark);
}

.page-container {
  width: 940px;
  margin: 0 auto;
}

/* Main */
.page-main {
  background:
    linear-gradient(180deg, rgba(33, 33, 33, 0.8) 0%, rgba(33, 33, 33, 0.86) 51.56%, #000 100%),
    url("../images/background-main.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center top;
}

/* Секция Герой */
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image {
  display: block;
}

/* Секция Достоинства */
.advantages {
  color: var(--basic-white);
}

.advantages-list {
  justify-content: space-between;
}

.advantages-item {
  display: flex;
  width: 277px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.advantages-item-title {
  color: inherit;
}

.advantages-item-desc {
  color: inherit;
}

.sections-wrapper {
  color: var(--basic-extra-dark);
  background: url("../images/background-pattern.png"), var(--special-extra-light);
}

/* Секция Поп услуги */
.service-list {
  display: flex;
  gap: 22px;
  flex-direction: column;
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
}

.service-item {
  display: flex;

}

.service-name {}

.service-price {
  text-align: right;
  color: var(--special-neutral);
  order: 2;
}

.service-item::after {
  content: "";
  margin: 0 16px;
  flex-grow: 1;
  border-bottom: 2px dotted var(--basic-dark);
  opacity: 0.5;
}

/* Карусель фото */
.carusel {
  margin: 0 auto;
}

.carusel-controls-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.carusel-control {
  padding: 4px;
  border: none;
  border-radius: 100%;
  background-color: var(--basic-neutral);
  cursor: pointer;

  &:hover,
  &:active {
    background-color: var(--special-neutral);
  }

  &:focus {
    background-color: var(--special-light);
  }
}

.carusel-control-current {
  background-color: var(--basic-extra-dark);
}

/* Секция контакты */
.contacts-location {
  font-weight: 700;
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  color: inherit;
}

.contacts-phone {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 24px;
  font-style: normal;
  line-height: 120%;
  color: inherit;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}


.page-footer {
  color: var(--basic-white);
  background: url("../images/background-pattern.png"), var(--basic-extra-dark);
  background-repeat: repeat, repeat;
}

.footer-contacts-link {
  font-size: 20px;
}

.partner-link {
  color: inherit;
}
